
.form-control input{
    width: 415px;
    height: 55px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
}
.btn-submit{
    margin-top: 10px;
    width: 415px;
    height: 55px;
    border-radius: 5px;
    border: none;
    color: antiquewhite;
    margin: 10px auto;
}