.font-rajsthan{
  font-family: 'EB Garamond', serif;
font-family: 'Explora', cursive;
font-weight:900;
font-size:110px;
}



@keyframes scroll-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100vh;
  }
}

.photo{
  background-image: url(../public/cover3.jpg);
  background-repeat: repeat-y;
background-size:cover;
  animation: scroll-background 15s linear infinite;
/*   */
/* background-blend-mode:color-burn; */
text-shadow: 20px;
border-radius: 20px;

}


.list{
  font-size: large;
  color: black;
  font-size: x-large;
  text-decoration: none;
  font-style: none;
  font-weight: 500;
  margin-right: 10px;
  background-color: rgb(233, 237, 237);
  border-radius: 10px;
  padding: 4px;
  font-family: sans-serif;
}
.color{
  color: red;
}
.carouselText{
  font-size: 50px;
}
.CarouselContainer{
  margin: 80px;
}
.carousel-image{
  
}

.photos{
  max-width: 100%;
}

.bg-img{
  width: 100%;

  height: 70vh;
  background-image: url(/cover9.jpg);

  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;

}
.containers{
  /* padding: 100px; */
margin-top: 20px;
  width: 100%;
  position: relative;

} 
.banner-text{
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 55px;
  top: 130px;
  left: 25px;
  
  /* text-align: left; */
 
  
}

/* @media(max-width:500px){
  .container{
    padding: 10px;
  }
} */
/* 
.banner-container {
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  max-width: 80%;
}

@media screen and (min-width: 768px) {
  .banner-text {
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .banner-text {
    max-width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .banner-text {
    max-width: 30%;
  }
} */

body{
  background-color: white;
}
.marquee{
  height: 300px;
  width: 400px;
  padding: 0 10px 0 10px;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}